.contact {
  height: 811px;
  &__title {
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-top: 94px;
  }
  &__block {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    width: 406px;
    height: 546px;
    background-color: #0059b3;
    border-radius: 8px;
    &__info {
      display: flex;
      margin-top: 79px;
      color: white;
      &__title {
        font-size: 48px;
      }
      &__contact {
        margin-top: 30px;
        font-size: 32px;
      }
      &__infor {
        margin-top: 25px;
        font-size: 24px;
      }
      ul {
        padding-left: 0px;
        list-style-type: none;
      }
    }
  }
}
